<ion-app>
  <ion-header>
      <ion-header>
        <ion-toolbar>
          <ion-title>main-page</ion-title>
          <div id="navbar" [style.top]="positionToolbar" >
              <div>
                <a>Nav</a>
                <a *ngIf="isBack" [routerLink]="[backPage]"> BACK TO {{backPage}}</a>
                <a [routerLink]="['/add-company']" *ngIf="isMain">Add Company</a>
                <a  *ngIf="auth" (click)="deleteCurrentSession()">Delete current session</a>
                <a (click)="logOut()" *ngIf="auth">Exit</a>
              </div>
            </div>
        </ion-toolbar>
      </ion-header>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>


