// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

ion-title {
  display: block;
  font-size: 14px;
}

#navbar {
    // background-color: #333;
    position: fixed;
    top: 9px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    a {
      float: left;
      display: block;
      color: gray;
      text-align: center;
      padding: 10px;
      text-decoration: none;
      font-size: 14px;
    }
    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  
  }
  .container{
    margin-top: 50px;
  }